<div class="container" style="background-color: rgb(0, 113, 128); font-weight: bolder;" >
    <h1 style="text-align: center; background-color: white; ">MY QUOTES</h1>
    <div class="row">
        <div class="col-md-6">
            <div *ngFor = 'let quote of quotes; let i = index'>
                <div>
                    <h4 id="{{i}} appStrikethrough">{{quote.name}} -Written on: {{quote.completeDate|date|uppercase}}</h4>

                    <button (click)='toggleDetails(i)' class="btn btn-primary" >See More</button>

                </div>
                <div *ngIf= 'quote.showDescription' >
                    <app-quote-detail [quote]='quote' (isComplete)= 'deleteQuote($event,1)' ></app-quote-detail>
                    

                </div>

            </div>
        </div>
        <div class="col-md-6">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
    </div>
</div>
